# ===============
# CARPETAS DE UNITY
# ===============
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/

# ===============
# PLUGINS Y CACHÉ
# ===============
/[Aa]ssets/Plugins/Editor/JetBrains*
/[Aa]ssets/AssetStoreTools*
.gradle/

# ===============
# ENTORNO DE DESARROLLO (IDE)
# ===============
.vs/
.idea/
.consulo/
ExportedObj/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# ===============
# METADATOS GENERADOS
# ===============
*.pidb.meta
*.pdb.meta
*.mdb.meta

# ===============
# CRASHEOS Y LOGS
# ===============
sysinfo.txt
crashlytics-build.properties
*.log

# ===============
# BUILDS EMPAQUETADAS
# ===============
*.apk
*.aab
*.unitypackage
*.app

# ===============
# SISTEMA OPERATIVO (WINDOWS / MAC)
# ===============
.DS_Store
.DS_Store?
.DS_Store.meta
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Thumbs.db.meta